<mat-toolbar color="primary" class="app-header">
  <div class="toolbar-left">
    <button mat-icon-button (click)="toggleSidebar()" *ngIf="isHandset">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="app-logo">
      <span class="brand-name">Fearless</span>
      <span class="tag-line">Dashboard</span>
    </div>
  </div>
  
  <div class="toolbar-right">
    <button mat-icon-button [matMenuTriggerFor]="notificationsMenu">
      <mat-icon [matBadge]="'5'" matBadgeColor="accent">notifications</mat-icon>
    </button>
    
    <button mat-icon-button [matMenuTriggerFor]="userMenu">
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
  
  <!-- Notifications Menu -->
  <mat-menu #notificationsMenu="matMenu" class="notifications-menu">
    <div class="menu-header">
      <h4>Notifications</h4>
    </div>
    <div class="notification-list">
      <button mat-menu-item *ngFor="let i of [1, 2, 3, 4, 5]">
        <mat-icon color="accent">event</mat-icon>
        <span>New booking confirmation</span>
        <span class="notification-time">2 hours ago</span>
      </button>
    </div>
    <div class="menu-footer">
      <button mat-button color="primary" routerLink="/notifications">View All</button>
    </div>
  </mat-menu>
  
  <!-- User Menu -->
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item routerLink="/profile">
      <mat-icon>person</mat-icon>
      <span>My Profile</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>