<div class="app-container">
 
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" 
                [mode]="(isHandset$ | async) ? 'over' : 'side'"
                [opened]="(isHandset$ | async) === false">
      <app-sidebar [currentUser]="currentUser"></app-sidebar>
    </mat-sidenav>
    
    <mat-sidenav-content>
      <app-header [drawer]="drawer" [isHandset]="isHandset$ | async"></app-header>
      
      <main class="content">
        <router-outlet></router-outlet>
      </main>
      
      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>